<div id="moxie-press">
  <h2>Moxie Press Movie Collection</h2>
  <div class="moxie-control"><p><a href="#moxie-press" id="mxp_filter" class="mxp_button">filter</a></p></div>
  <div class="mxp_grid-overlay"></div>
  <div class="mxp_grid" id="moxie-grid">
    {{!content}}
  </div>
</div>
