<div id="#moxie-press">
  <div class="moxie-control hide"><p><a href="#" id="filter" class="button">filter</a></p></div>
  <div class="mxp_grid hide" id="moxie-grid">
    {{!content}}
  </div>
</div>
