/* define vars for this theme */

// define color palette
$color1: #333;
$color2: #49a;
$colorBg1: rgba(240,239,238,0.9);

// define sizes
$cardw1: 160px;
$cardh1: 230px;
$cardw2: 480px;
$cardh2: 230px;

.moxie_press_container,.overlay{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.moxie_press_container{

  .hide{
    display:none; 
  }

  .small{
    font-size:0.8em;
  }

  a.button {
    background: #202E39;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
  }
  a.button:hover {
    background: rgba(40, 50, 80, 0.8);
  }

  .hide-desktop{
    display:none;
  }

  /* ---- grid ---- */
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */
  .grid-item {
    width: $cardw1 - 6px;
    height: $cardh1;
    float: left;
    margin: 3px;
    background-color:rgb(102,102,102);
    background-color:rgb(0,0,0);
    background-repeat:no-repeat;
    background-position: top left;
    background-size:contain;
//    background-position: center center;
//    background-size: cover;
    position: relative;
    .overlay{
      position:absolute;
      background:rgba(0,0,0,0.2);
      z-index:1000;
      width:100%;
      height:100%;
      &:hover{
        background:transparent;
      }
    }
    .video-embed{
      display:none;
    }
    &.grid-item--gigante{
      .overlay{
        display:none;
      }
      .card-content{
        display:block !important;
      }
      .video-embed{
        display:block;
        margin-top:5px;
      }
    }
  }

  .grid-item--gigante {
    height: $cardh2;
    width: $cardw2 - 6px;
  }

  .grid-item--gigante .card-content .meta, .grid-item--gigante .card-content a.button, .grid-item--gigante .card-content div.rank {
    display: block;
  }

  .grid-item:hover {
    cursor: pointer;
  }

  .card-content {
    position: absolute;
    color:#ccc;
    right: 0;
    width: $cardw2 - $cardw1 - 40px;
    padding:20px;
    height: $cardh2 - 40px;
    overflow: hidden;
    display:none;
    font-size: 13px;
    line-height: 1.4;
    h3{
      margin-top:0;
      font-size:15px;
      color:#fff;
    }
    .card-info{
      height:$cardh2 - 40px;
    }
    .card-embed{
      display:none;
      width:$cardw2 - $cardw1;
      height:$cardh2;
      p{
        font-size:13px;
      }
    }
  }


}

@media screen and (max-width: 490px) {
  .grid {
    margin-top: 60px;
  }

  .grid-item {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 0;
    margin-bottom: 3%;
  }
  .grid-item .card-content {
    position: absolute;
    width: 96%;
    left: auto;
    right: 2%;
    bottom: 4%;
  }
  .grid-item .card-content .meta {
    display: block;
  }

  .grid-item--gigante {
    min-width: auto !important;
    min-height: 250px;
  }
  .grid-item--gigante .card-content {
    min-width: 0;
    width: 96%;
  }

  .grid-item--width3 h2, .grid-item--width4 h2, .grid-item--gigante h2 {
    font-size: 14px;
  }

  #info{
    position:absolute;
    right:5px;
    top:10px;
    font-size:0.9em;
    text-decoration:underline;
  }
}