/* define vars for this theme */

// define color palette
$color1: #333;
$color2: #49a;
$colorBg1: rgba(240,239,238,0.9);
$button_bg: rgba(40, 150, 80, 0.9);
$button_bg_h: rgba(60, 170, 100, 0.9);

// define sizes
$poster_w: 144px;
$poster_h: 215px;
$video_w: 444px;
$video_h: 242px;

$gutter : 6px;


/* set transitions */
.moxie_press_container, .mxp_overlay, .mxp_card-info,.mxp_card-embed,#moxie-grid{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.mxp_hide{
  display:none;
}

.mxp_grid-overlay{
  background:#fff;
  width:100%;
  display:none;
  position:absolute;
  height:100%;
  width:100%;
  z-index:2000;
}
/* standard styles for the plugin on desktop or bigger screens */
.moxie_press_container{

  .mxp_hide-desktop{
    display:none;
  }

  .mxp_small{
    font-size:0.8em;
  }

  .moxie-control {
    text-align:right;
    .mxp_button{
      font-size:0.8em;
    }
  }

  .mxp_button {
    background: $button_bg;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    &.active{
      background:#f00;
    }
  }
  .mxp_button:hover {
    background: $button_bg_h;
  }

  #moxie-press{
    position:relative;
  }

  #moxie-control{
    display:none;
  }

  #moxie-grid{
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  }
  /* ---- grid ---- */
  /* clearfix */
  .mxp_grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */
  .mxp_grid-item {
    width: $poster_w;
    height: $poster_h;
    overflow:hidden;
    float: left;
    margin: 3px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; // Added in from answer from Felix
    overflow-x: scroll;
    .mxp_poster{
      position:absolute;
      left:0;
      top:0;
      width:$poster_w + 2;
      height:$poster_h;
      overflow:hidden;
    }
    .mxp_overlay{
      position:absolute;
      top:0;
      left:0;
      background:rgba(0,0,0,0.2);
      z-index:1000;
      width:100%;
      height:100%;
      &:hover{
        background:transparent;
      }
    }
    .mxp_card-info{
      display:none;
      position:absolute;
      top:0;
      right:0;
      width:$video_w - $poster_w - 40px;
      height: $poster_h - 40px;;
      color:#ccc;
      background:#000;
      padding:20px;
      color:#ccc;
      font-size:0.9em;
      p{
        font-size:0.9em;
        line-height:1.2em;
      }
      h3{
        font-size:1.1em;
        margin-top:0;
        color:#fff;
        padding-right:33px;
        position:relative;
        .mxp_year{
          color:#ccc;
        }
      }
      .mxp_rating-transform{
        position:absolute;
        right:0;
        top:0;
        font-size:0.6em;
        text-align:right;
      }
    }
    .mxp_card-embed{
      display:none;
      background:#000;
      position:absolute;
      top:$poster_h - $gutter;
      height:$video_h;
      width:$video_w;
      max-width:100%;
      color:#ccc;
      p{
        padding:20px;
        font-size:0.9em;
      }
    }
    &.mxp_grid-item--gigante{
      height:$poster_h;
      width: $video_w;
      .mxp_hide-active{
        display:inline;
      }
      .mxp_show-active{
        display:none;
      }
      .mxp_overlay{
        display:none;
      }
      .mxp_card-info{
        display:block !important;
        &:hover{
          cursor: initial;
        }
      }
      &.mxp_card-active{
        height:$video_h + $poster_h - $gutter;
        .mxp_hide-active{
          display:none;
        }
        .mxp_show-active{
          display:inline;
        }
        .mxp_card-embed{
          display:block !important;
        }
      }
    }
  }

  .mxp_grid-item:hover {
    cursor: pointer;
  }

  a.mxp_card-trigger-trailer{
    color:#fff;
  }
}

@media screen and (max-width:475px){
  .moxie_press_container{
    .mxp_hide-desktop{
      display:block;
    }
    .mxp_hide-mobile{
      display:none;
    }
    #moxie-press{
      min-width:310px;
    }
    .mxp_grid{
      min-width:310px !important;
    }
    .mxp_grid-item{
      width:45%;
      margin:1%;
      min-width:115px;
      overflow:hidden;
      .mxp_poster{
        width:100%;
        max-width:204px;
      }
    }
    .mxp_grid-item--gigante{
      width:92% !important;
      min-width:300px;
      .mxp_card-info{
        right:0;
        width:90%;
        max-width:$video_w - $poster_w - 40px;
      }
    }
  }
}

@media screen and ( max-width: 200px ){
  .moxie_press_container{
    .mxp_grid-item{

    }
  }
}

