/* define vars for this theme */

// define color palette
$button_bg: rgba(40, 150, 80, 0.9);
$button_bg_h: rgba(60, 170, 100, 0.9);
$button_bg_a: rgba(10, 100, 30, 0.9);

// define sizes
$poster_h: 240px;
$video_h: 282px;


* { box-sizing: border-box; }

/* set transitions */
.moxie_press_container, .mxp_overlay, .mxp_card-info,.mxp_card-embed,#moxie-grid{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.mxp_hide{
  display:none;
}

.mxp_grid-overlay{
  background:#fff;
  width:100%;
  display:none;
  position:absolute;
  height:100%;
  width:100%;
  z-index:2000;
}
#moxie-grid{
 transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
}

.moxie_press_container{

  .mxp_button {
    background: $button_bg;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    &.active{
      background:$button_bg_a;
      &:hover{
        background:$button_bg_a;
      }
    }
  }
  .mxp_button:hover {
    background: $button_bg_h;
  }

  #moxie-press{
    position:relative;
  }

  .moxie-control{
    display:none;
    text-align:right;
  }
  .mxp_hide-desktop{
    display:none;
  }

  .mxp_small{
    font-size:0.8em;
  }

  .moxie-control {
    .mxp_button{
      font-size:0.8em;
    }
  }

    /* clearfix */
  .mxp_grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .mxp_grid-sizer,
  .mxp_grid-item {
    width: 20%;
    min-width:170px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: scroll;
  }

  .mxp_grid-item {
    height: $poster_h;
    float: left;
    background: #000;
    border: 4px solid #fff;
    border-color: #fff;

    min-width:170px;
    &:hover {
      cursor: pointer;
    }
    a.mxp_card-trigger-trailer{
      color:#fff;
    }

    .mxp_poster{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      max-height:$poster_h;
      overflow:hidden;
      background:#000;
    }
    .mxp_overlay{
      position:absolute;
      top:0;
      left:0;
      background:rgba(0,0,0,0.2);
      z-index:1000;
      width:100%;
      height:100%;
      &:hover{
        background:transparent;
      }
    }

    &.mxp_grid-item--gigante { 
      width:  60%; 
      min-width:510px;
      background:#000;
      .mxp_hide-active{
        display:inline;
      }
      .mxp_show-active{
        display:none;
      }
      .mxp_overlay{
        display:none;
      }
      .mxp_poster{
        max-width:200px;
      }
      .mxp_card-info{
        display:block !important;
        height:100% !important;
        min-width:310px;
        &:hover{
          cursor: initial;
        }
      }
      &.mxp_card-active{
        height:$video_h + $poster_h;
        .mxp_hide-active{
          display:none;
        }
        .mxp_show-active{
          display:inline;
        }
        .mxp_card-embed{
          display:block !important;
        }
      }
    }

    .mxp_card-info{
      display:none;
      position:absolute;
      top:0;
      right:0;
      height: $poster_h - 40px;;
      color:#ccc;
      background:#000;
      padding:20px;
      color:#ccc;
      font-size:0.9em;
      width:70%;
      max-width:340px;
      p{
        font-size:1.05em;
        line-height:1.2em;
      }
      h3{
        font-size:1.1em;
        margin-top:0;
        max-width:310px;
        color:#fff;
        padding-right:33px;
        position:relative;
        .mxp_year{
          color:#ccc;
        }
      }
      .mxp_rating-transform{
        position:absolute;
        right:0;
        top:0;
        font-size:0.6em;
        text-align:right;
      }
    }

    .mxp_card-embed{
      display:none;
      background:#000;
      position:absolute;
      top:$poster_h - 10px;
      height:$video_h;
      width:100%;
      color:#ccc;
      border-top:10px solid #000;
      p{
        padding:20px;
        font-size:0.9em;
      }
    }
  }
}

@media screen and (max-width:535px){
  .moxie_press_container{
    .mxp_grid-item--gigante{
      min-width:340px !important;
      .mxp_card-info{
        font-size:0.80em;
      }
    }
  }
}


@media screen and (max-width:340px){
  .moxie_press_container{
    .mxp_grid-item,.mxp_grid-sizer{
      width:100%;
      min-width:280px;
      height:$poster_h + 180px;
      background:#000;
      max-height:$poster_h + 180px;
      overflow:hidden;
      .mxp_poster{
        height:$poster_h + 180px;
        max-height:$poster_h + 180px;

      }
    }
    .mxp_grid-item--gigante{
      width:100% !important;
      min-width:280px !important;
      z-index:5001;
      max-height:$poster_h + 180px;
      overflow:hidden;
      .mxp_poster{
        max-width:100% !important;
        max-height:$poster_h + 180px;
      }
      .mxp_card-info{
        background:rgba(0,0,0,0.8);
        top:140px;
        width:100% !important;
        min-width:0 !important;
        height:250px !important;
      }
      &.mxp_card-active{
        max-height:$poster_h + 2000px;
        .mxp_card-info{
          top:0;
        }
        .mxp_card-embed{
          top:260px;
        }
      }
    }
  }
}
